$media: $media-server + 'games/polar-bear/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$frame: $media + 'frames/';
$font: $media + 'fonts/';

$white: #fff;
$black: #000;
